:root {
  /* ## Colors */

  /* ### Primary */

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 14%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

button {
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

.container {
  color: var(--grayish-blue);
}

.img {
  max-width: 100%;
}

.nav-bar {
  position: relative;
  padding: 0 4%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  min-width: 140px;
  min-height: 20px;
}

.nav-bar .menu-box-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 92vh;
  background-image: linear-gradient(
    to bottom,
    #2d314d,
    #2d314d,
    #2d314d,
    #2d314d,
    #2d314d,
    #3d405a,
    #4d4f68,
    #5e5f76,
    #848496,
    #acabb8,
    #d5d4db,
    #ffffff
  );
  z-index: 10;
  opacity: 0.6;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  transition: all 400ms;
}

.nav-bar .menu-box-background.clicked {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
}

.nav-bar .menu-box {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px 5%;
  width: 100%;
  height: 92vh;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  z-index: 11;
  transition: all 400ms;
}

.nav-bar .menu-box.clicked {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
}

.nav-bar .nav-menu {
  margin-top: 0;
  padding: 16px 2%;
  color: var(--dark-blue);
  text-align: center;
  font-weight: 400;
  line-height: 2;
  background-color: var(--white);
  border-radius: 4px;
}

.nav-menu .menu-link {
  display: block;
}

.request-btn {
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  border: thin solid var(--bright-cyan);
  background-image: linear-gradient(
    90deg,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-radius: 26px;
  transition: all 400ms;
}

.nav-bar .request-btn {
  display: none;
}

.nav-bar .ham-btn {
  position: relative;
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  outline: none;
}

.ham-btn .ham-icon {
  display: block;
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  transition: all 400ms;
}

.ham-btn .ham-icon.clicked {
  opacity: 0;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
}

.ham-btn .close-icon {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 18px;
  height: 18px;
  display: block;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  transition: all 400ms;
}

.ham-btn .close-icon.clicked {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  opacity: 1;
}

header {
  position: relative;
  padding-top: 44vh;
  height: 92vh;
  text-align: center;
  background: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 46vh;
}

header .mockups-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56vh;
  overflow: hidden;
}

header .mockups {
  position: absolute;
  top: -16vh;
  left: 0;
  width: 100%;
  height: 56vh;
}

header .text-content {
  padding: 0 4%;
}

.title {
  color: var(--dark-blue);
  font-weight: 400;
}

.text-content .title {
  margin-top: 0;
}

.text-content .paragraph {
  margin-bottom: 36px;
}

main .features-container {
  padding: 60px 4%;
  text-align: center;
  background-color: var(--very-light-gray);
}

.features-container > .title {
  margin-top: 0;
}

.features-container .paragraph {
  margin-bottom: 60px;
}

.features-container .feature-box:not(:last-child) {
  margin-bottom: 48px;
}

.feature-box .img {
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
}

.feature-box .description {
  margin-bottom: 0;
}

.articles-container {
  padding: 60px 4%;
}

.articles-container > .title {
  margin-top: 0;
  text-align: center;
}

.articles-container .article-box {
  padding-bottom: 40px;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px var(--light-grayish-blue);
  overflow: hidden;
}

.articles-container .article-box:not(:last-child) {
  margin-bottom: 24px;
}

.article-box .img {
  width: 100%;
  min-width: 100%;
  height: 220px;
  min-height: 212px;
}

.article-box .text-content {
  padding: 0 24px;
}

.article-box .author {
  font-size: 0.6em;
}

.article-box .title {
  margin: 12px 0;
}

.article-box .text {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding: 40px 4%;
  color: var(--white);
  text-align: center;
  background-color: var(--dark-blue);
}

.social-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.social-container i {
  font-size: 24px;
  transition: all 400ms;
}

.link-list {
  margin-bottom: 28px;
  line-height: 2;
}

footer .request-btn {
  margin-bottom: 28px;
}

footer .copyright {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--grayish-blue);
}

.attribution {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--grayish-blue);
}

.a-link {
  color: var(--dark-blue);
}

.a-link-text {
  position: relative;
  padding: 4px 8px;
}

.a-link-text::before {
  content: attr(text-value);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--dark-blue);
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  transform: scale(1.2);
  transition: all 400ms;
}

.a-link:hover .a-link-text::before,
.a-link:focus .a-link-text::before {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  transform: scale(1);
}

@media (min-width: 700px) {
  header .mockups {
    left: 19%;
    width: 62%;
  }

  .articles-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    height: 12vh;
    padding: 0 10%;
  }

  .nav-bar .menu-box {
    position: initial;
    width: initial;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .nav-bar .nav-menu {
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--grayish-blue);
  }

  .nav-menu li,
  .nav-menu .menu-link {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-menu .menu-link {
    border-bottom: 2px solid transparent;
    transition: all 400ms;
  }

  .nav-menu .menu-link:hover {
    color: var(--dark-blue);
    border-bottom-color: var(--lime-green);
  }

  .nav-bar .request-btn {
    display: initial;
  }

  .request-btn:hover {
    background-image: linear-gradient(
      to right,
      #5bdc7d,
      #09daa5,
      #00d5c5,
      #00ceda,
      #56c5e1
    );
  }

  .nav-bar .ham-btn {
    display: none;
  }

  header {
    padding: 0 10%;
    height: 88vh;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    text-align: left;
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100vw 142vh;
    background-position-x: 40vw;
    background-position-y: -36vh;
  }

  header .mockups-box {
    left: 50%;
    width: 50%;
    height: 100vh;
  }

  header .mockups {
    top: -12vh;
    left: 8vw;
    width: 100%;
    height: 112vh;
  }

  header .text-content {
    padding: 0;
  }

  .text-content .title {
    padding-right: 12%;
  }

  header .request-btn {
    transition: all 400ms;
  }

  main .features-container {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .features-container .features-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .features-container .paragraph {
    width: 56%;
  }

  .features-container .feature-box:not(:last-child) {
    margin-bottom: 0;
  }

  .articles-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .articles-container > .title {
    text-align: left;
  }

  .articles-container .articles-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
  }

  .articles-container .article-box:not(:last-child) {
    margin-bottom: 0;
  }

  .article-box .img {
    height: 212px;
    min-height: 212px;
  }

  .article-box .text-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .article-box .title {
    transition: all 400ms;
  }

  .article-box .title:hover {
    color: var(--lime-green);
    cursor: pointer;
  }

  footer {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  footer .logo,
  .social-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .social-container {
    margin: 0;
    align-self: end;
    justify-content: flex-start;
  }

  .social-container i:hover {
    color: var(--lime-green);
  }

  .link-list {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
  }

  .link-list a {
    transition: all 400ms;
  }

  .link-list a:hover {
    color: var(--lime-green);
  }

  footer .request-btn {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    align-self: start;
  }

  footer .copyright {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: end;
    text-align: right;
    font-size: 0.9em;
  }
}
