:root {
  /* ## Colors */

  /* ### Primary */

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 14%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

button {
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

.container {
  color: var(--grayish-blue);
}

.img {
  max-width: 100%;
}

.nav-bar {
  position: relative;
  /* padding: 24px 5%; */
  height: 8vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .menu-box-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 92vh;
  background-image: linear-gradient(
    to bottom,
    #2d314d,
    #2d314d,
    #2d314d,
    #2d314d,
    #2d314d,
    #3b3f5a,
    #494e67,
    #585d75,
    #7b8194,
    #a1a6b4,
    #c9ccd4,
    #f3f4f6
  );
  z-index: 10;
  opacity: 0.6;
  display: none;
}

.nav-bar .menu-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 92vh;
  padding: 16px 5%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  z-index: 11;
  display: none;
}

.nav-bar .nav-menu {
  margin-top: 0;
  padding: 16px 2%;
  color: var(--dark-blue);
  text-align: center;
  line-height: 2;
  background-color: var(--white);
  border-radius: 4px;
}

.nav-menu .menu-link {
  display: block;
}

.nav-bar .request-btn {
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  border: thin solid var(--bright-cyan);
  background-image: linear-gradient(
    90deg,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-radius: 26px;
  display: none;
}

.nav-bar .ham-btn {
  position: relative;
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  /* text-align: center; */
  border: none;
  background: transparent;
  outline: none;
}

.ham-btn .ham-icon {
  display: block;
}

.ham-btn .close-icon {
  position: absolute;
  top: 2px;
  left: 5px;
  display: block;
  width: 18px;
  height: 18px;
  visibility: hidden;
}

header {
  position: relative;
  /* padding: 0 5%; */
  padding-top: 44vh;
  height: 92vh;
  text-align: center;
  background: url(../images/bg-intro-mobile.svg), var(--white);
  background-repeat: no-repeat;
  background-size: 100% 46vh, 100%;
  overflow: hidden;
}

header .mockups {
  position: absolute;
  top: -16vh;
  left: 0;
  width: 100%;
  height: 56vh;
}

header .text-content {
  /* margin-top: 42vh; */
  padding: 0 5%;
}

.text-content .title {
  margin-top: 0;
  color: var(--dark-blue);
  font-weight: 400;
}

.text-content .paragraph {
  margin-bottom: 40px;
}

header .request-btn {
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  border: thin solid var(--bright-cyan);
  background-image: linear-gradient(
    90deg,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-radius: 26px;
}

main .features-container {
  padding: 60px 5%;
  text-align: center;
  background-color: var(--very-light-gray);
}

.features-container > .title {
  margin-top: 0;
  color: var(--dark-blue);
  font-weight: 400;
}

.features-container .paragraph {
  margin-bottom: 60px;
}

.features-container .feature-box:not(:last-child) {
  margin-bottom: 48px;
}

.feature-box .title {
  color: var(--dark-blue);
  font-weight: 400;
}

.feature-box .description {
  margin-bottom: 0;
}

.articles-container {
  padding: 60px 5%;
}

.articles-container .article-box {
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px var(--light-grayish-blue);
  overflow: hidden;
}

.articles-container .article-box:not(:last-child) {
  margin-bottom: 24px;
}

.article-box .text-content {
  padding: 0 24px;
}

.articles-container > .title {
  margin-top: 0;
  color: var(--dark-blue);
  font-weight: 400;
  text-align: center;
}

.article-box .author {
  font-size: 0.6em;
}

.article-box .title {
  margin: 12px 0;
  color: var(--dark-blue);
  font-weight: 400;
}

.article-box .text {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding: 40px;
  color: var(--white);
  text-align: center;
  background-color: var(--dark-blue);
}

.social-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.social-container i {
  font-size: 24px;
}

.link-list {
  margin-bottom: 28px;
  line-height: 2;
}

footer .request-btn {
  margin-bottom: 28px;
  padding: 12px 24px;
  font-weight: 700;
  border: thin solid var(--bright-cyan);
  background-image: linear-gradient(
    90deg,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-radius: 32px;
}

footer .copyright {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--grayish-blue);
}

@media (min-width: 1024px) {
  .nav-bar {
    height: 16vh;
    padding: 0 10%;
  }

  .nav-bar .menu-box {
    position: initial;
    display: initial;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: initial;
    height: initial;
    padding: 0;
    /* flex: 1; */
  }

  .nav-bar .nav-menu {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--grayish-blue);
  }

  .nav-bar .request-btn {
    display: initial;
    /* flex: 2; */
  }

  .nav-bar .ham-btn {
    display: none;
  }
}
